/* General settings */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root {
	--link: #1bb78b;
	--link-hover: #12604a;
	--background: #a7efc5;
	--desc-color: #606c71;
}

body {
	font-family: "Open Sans";
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--link);
	transition: color 0.15s;
}

a:hover {
	color: var(--link-hover);
}

/* Website header */
header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	width: 100%;
	max-height: 600px;
	height: auto;
	object-fit: cover;
}

.home header img {
	max-height: 100vh;
}

.back {
	text-decoration: underline;
}

header::before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	position: absolute;
}

header .header_content {
	color: white;
	z-index: 2;
	position: absolute;
	text-align: center;
}

header .title {
	font-size: 3.25rem;
}

/* Main content */
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.grid-item {
	text-align: center;
	padding: 40px 20px 60px;
	font-size: 25px;
}

.grid-item h1 {
	text-align: center;
}

.grid-item.gallery {
	background-color: var(--background);
	
	grid-column-start: 1;
	grid-column-end: 7;
	position: relative;
}

.home .grid-item.gallery {
	grid-column-start: 1;
	grid-column-end: 6;
}


.grid-item.gallery .gallery {
	margin-top: 20px;
}

.gallery-frame {
	max-width: 900px;
	margin: auto;
}

.caption {
	color: var(--desc-color) !important;
	font-size: 1.1rem;
	padding-top: 5px;
}

.gallery-frame a .image,.card-gallery a .image {
	position: relative;
	line-height: 0;
}

.gallery-frame a .image img,.card-gallery a .image img {
	line-height: initial;
}

.gallery-frame a .image::before, .card-gallery a .image::before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	transition: opacity 0.18s;
	opacity: 0;
	background-color: var(--link);
}

.gallery-frame a:hover .image::before, .card-gallery a:hover .image::before {
	opacity: 0.3;
}

.gallery-frame img{
	width: 100%;
	object-fit: contain;
	height: auto;
}

.image img {
	border-radius: 6px;
}


.grid-item.archive {
	background-color: white;
	flex: 1 1 auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

.grid-cards {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 50px;
}

.grid-cards .desc {
	padding-top: 5px;
	font-size: 1.1rem;
	color: var(--desc-color) !important;
}

.credit {
	font-size: 10px;
	opacity: 0.2;
	position: absolute;
	bottom: 15px;
	text-align: center;
	width: calc(100% - 40px);
}

@media screen and (max-width: 1024px) {
	.grid-container { 
		grid-template-columns: repeat(1, 1fr); 
	}
	.gallery-frame {
		margin-bottom: 10px;
	}
	header .title {
		font-size: 2.25rem;
		text-align: center;
		margin-bottom: 15px;
	}
	.grid-cards {
		grid-template-columns: repeat(2, 2fr); 
	}
}

@media screen and (max-width: 480px) {
	.grid-cards {
		grid-template-columns: repeat(1, 1fr); 
	}
}